In [2]:
import pandas as pd
import sqlite3 as sql

In [5]:
database = "salary.db"
connect = sql.connect(database)


query = "SELECT * FROM salary"
print(pd.read_sql_query(query, con=connect))
connect.close()

          work_year experience_level employment_type  \
0       0      2020               MI              FT
1       1      2020               SE              FT
2       2      2020               SE              FT
3       3      2020               MI              FT
4       4      2020               SE              FT
...   ...       ...              ...             ...
1210  602      2022               SE              FT
1211  603      2022               SE              FT
1212  604      2022               SE              FT
1213  605      2022               SE              FT
1214  606      2022               MI              FT

                       job_title  salary salary_currency salary_in_usd  \
0                 Data Scientist   70000             EUR         79833
1     Machine Learning Scientist  260000             USD        260000
2              Big Data Engineer   85000             GBP        109024
3           Product Data Analyst   20000             USD         20000
4      Machine Learning Engineer  150000             USD        150000
...                          ...     ...             ...           ...
1210               Data Engineer  154000             USD        154000
1211               Data Engineer  126000             USD        126000
1212                Data Analyst  129000             USD        129000
1213                Data Analyst  150000             USD        150000
1214                AI Scientist  200000             USD        200000

     employee_residence remote_ratio company_location company_size
0                    DE            0               DE            L
1                    JP            0               JP            S
2                    GB           50               GB            M
3                    HN            0               HN            S
4                    US           50               US            L
...                 ...          ...              ...          ...
1210                 US          100               US            M
1211                 US          100               US            M
1212                 US            0               US            M
1213                 US          100               US            M
1214                 IN          100               US            L

[1215 rows x 12 columns]